@import '../../styles/common.less';

.settings {
  flex: 1;
  height: 100%;
  padding: 0 @gap @gap;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: @background-color;

  &__content {
    flex: 1;
    height: 100%;
    border-radius: @borderRadius;
    background-color: @background-color--sub;
  }
}
